.logo{
    width: 100px;
    height: 100px;
}

.modal-footer{
    justify-content: center;
}

.jumbotron {
    background-image: url(/img/jumbotron1.png);
    background-color: rgb(217, 255, 0);
    background-size: cover;
    height: 450px;
}

.pencarian{
    text-align: center;
}

#clbk{
    z-index: 1;
    display: block;
    margin-top: 10px;
    margin-left: 850px;
    font-size: 15px;
    position: absolute;
}

.line{
    background-color: black;
    height: 2px;
    width: 500px;
    margin-top: -70px;
    margin-bottom: 150px;
}

.btn-login{
    background-color: #eb4335;
    border: 2px solid black;
    color: white;
}

.tombol{
    border: 4px solid  #004aad;
    background-color: #1893f8;
    color: white;
    border-radius: 10px 10px 10px;    
    width: 100px;
    text-transform: uppercase;
    font-weight: bold;
    padding: 5px 10px;
}

.tombol:hover{
    text-decoration: none;
    color: aqua;
}

.masuk, .atau, .daftar{
    margin: 10px;
}

.pencarian .cari{
    text-align: center;
    border-radius: 10px 10px 10px;
    border: 4px solid white;
    width: 500px;
    height: 50px;
}

.keterangan{
    position: relative;
    margin-top: 120px;
    margin-left: -400px;
    font-size: 20px;
}

#ayo-sinau{
    z-index: 1;
    height: 500px;
    position: relative;
}

.section-judul{
    margin-left: -300px;
    text-align: center;
    font-weight: bold;
    margin-bottom: 90px;
}
/* 
.section-judul h2::after{
    position: absolute;
    content: "";
    width: 200px;
    height: 3px;
    background-color: black;
    bottom: -20px;
    left: 50%;
    transform: translate(-50%);
} */

/* img{
   width: 200px;
   height: 200px;
   margin: auto;
   border: 3px solid black;
} */




.btn-next {
    position: absolute;
    content: "";
    top: 50%;
    transform: translateY(-50%);
    right: -3px;
    z-index: 20;
    background-color: #15477A;
    border: none;
    height: 35px;
    width: 35px;
    color: #fff; 
    border-radius: 50%;
    outline: none;
    box-shadow: 0 0 20px #ddd;
    transition: background-color 0.3s;
}

.fab, .far {
    font-size: 25px;
    color: white;
    text-decoration: none;
    margin-right: 15px;
}

.penawaran{
    color: black;
    font-weight: 500;
    text-transform: uppercase;
}
.penawaran:hover{
    color: yellow;
    font-weight: 500;
    text-transform: uppercase;
    text-decoration: none;
}

.topik{
    color: black;
    font-weight: 500;
    text-transform: uppercase;
}
.topik:hover{
    color: yellow;
    font-weight: 500;
    text-transform: uppercase;
    text-decoration: none;
}


.FUO{
    color: black;
    font-weight: 500;
    text-transform: uppercase;
}

.FUO:hover{
    color: yellow;
    text-decoration: none;
}

.bg-footer{
    background-color: rgb(146, 138, 138);
}

.logo-footer{
    margin-left: -50px;
    height: 200px;
    width: 200px;
}

.page-footer{
    color: white;
}

.mgFooter{
    margin-top: 30px;
}



/* CSS profileTN */

.profileTN .sectionLogo img{
    width: auto;
    height: 400px;
}
.profileTN .sectionLogo p{
    margin: 100px 0;
}

.profileTN .section1 img{
    width: auto;
    height: 400px;
}

.profileTN h1{
    text-align: center;
    margin: 50px 0;
}

#carouselExampleControls .carousel-item img{
    width: auto;
    height: auto;
}
#carouselExampleControls .carousel-control-prev,
#carouselExampleControls .carousel-control-next{
    background-color: yellowgreen;
    top: 50%;
    height: 50px;
    width: 50px;
}



/* CSS Ayo Makaryo */
.headAyoMakaryo{
    margin-top: 40px;
    background-color: #3e4e60;
    height: 60px;
}
.ham{
    padding-top: 10px;
}

.submit-btn{
    display: inline-block;
    border-radius: 5px 5px 5px 5px ;
    border: 2px solid #ffff00;
    background-color: #ffff00;
    width: 40px;
    height: 40px;
}

.submit-btn:hover{
    display: inline-block;
    border: 2px solid #ffff00;
    background-color: #ffff00;
    width: 40px;
    height: 40px;
    color: lightgreen;
}

#loker,
#tersimpan,
#terakhir-dilihat{
    padding-top: 50px;
}

.lowongan-kerja img{
    margin-left: 30%;
    background-position: center;
    height: 100px;
    width: 100px;
}

.lowongan-kerja .row{
    margin-bottom: 30px;
    margin-right: 10px;
}

.Tersimpan img{
    margin-left: 30%;
    background-position: center;
    height: 100px;
    width: 100px;
}
.Tersimpan .col{
    margin-bottom: 10px;
}
.Tersimpan p,
.Tersimpan a{
    font-size: 10px;
}

.terakhir-lihat img{
    margin-left: 30%;
    background-position: center;
    height: 100px;
    width: 100px;
}
.terakhir-lihat .col{
    margin-bottom: 10px;
}
.terakhir-lihat p,
.terakhir-lihat a{
    font-size: 10px;
}

.vl {
    border-radius: 10px;
    border-left: 4px solid black;
    height: 1670px;
    margin-top: 50px;
  }

  /* CSS detailLowongan */
  .img-detilLowongan img{
      width: 250px;
      height: 300px;
      margin-left: 10px;
      margin-top: -100px;
  }
  .daerah{
      font-weight: lighter;
  }

  .profilPerusahaan{
      width: 600px;
      height: 40px;
      background-color: #ffdd3e;
      text-align: center;
      padding-top: 2px;
      box-shadow: 3px 4px #947a7ad3;
      margin: 30px 0;
      margin-left: 100px;
  }

  .detil{
    display: inline-block; 
    margin-left: 10px;
  }
  .detil .namaPerusahaan{
    margin-bottom: 40px;
  }

  .isiSkill{
      margin-left: 10px;
      display: inline-block;
      text-decoration: none;
      color: black;
      text-align: center;
      padding-top: 8px;
      font-weight: bold;
      background-color: #1893f8;
      border: 2px solid #1893f8;
      border-radius: 10px 10px 10px 10px;
      width: 100px;
      height: 40px;
  }

  .isiSkill:hover{
    color: white;
    text-decoration: none;
}

/* CSS CLBK */
.pembungkusCLBK{
    margin-top: 30px;
}
.pembungkusCLBK ul{
    margin-top: -50px;
    margin-bottom: 70px;
    margin-left: 100px;
    margin-right: 20px;
}

.pembungkusCLBK ul .topik{
    list-style: none;
    display: inline-block;
}
.pembungkusCLBK ul .topik a{
    text-decoration: none;
    color: black;
    font-weight: bold;
    font-size: 15px;
}
.pembungkusCLBK ul .topik a:hover{
    text-decoration: none;
    color: white;
    font-weight: bold;
    font-size: 15px;
}

.pembungkusCLBK .topik1{
    text-align: center;
    padding-top: 5px;
    border-top: 5px solid #ffff00;
    border-bottom: 5px solid #ffff00;
    background-color: #d6c6cc;
    width: 120px;
    height: 40px;
}
.pembungkusCLBK .topik2{
    text-align: center;
    padding-top: 5px;
    border-top: 5px solid #ff8210;
    border-bottom: 5px solid #ff8210;
    background-color: #d6c6cc;
    width: 160px;
    height: 40px;
}
.pembungkusCLBK .topik3{
    text-align: center;
    padding-top: 5px;
    border-top: 5px solid #12c8dd;
    border-bottom: 5px solid #12c8dd;
    background-color: #d6c6cc;
    width: 170px;
    height: 40px;
}
.pembungkusCLBK .topik4{
    text-align: center;
    padding-top: 5px;
    border-top: 5px solid #ff0000;
    border-bottom: 5px solid #ff0000;
    background-color: #d6c6cc;
    width: 170px;
    height: 40px;
}
.pembungkusCLBK .topik5{
    text-align: center;
    padding-top: 5px;
    border-top: 5px solid  #f52ec0;
    border-bottom: 5px solid  #f52ec0;
    background-color: #d6c6cc;
    width: 160px;
    height: 40px;
}
.rowBawah{
    margin-top: 30px;
    margin-left: 60px;

}

.search-artikel{
    border-radius: 10px 10px 10px 10px;
    height: 40px;
}

.form-artikelClbk{
    margin-left: 90px;
    padding: 3px 50px;
    background-color: #3e4e60;
    height: 50px;
    width: 340px;
}

.paging-clbk{
    margin-top: 50px;
}

.pembungkusCLBK .card{
   margin-bottom: 30px;
}

.fa-heart{
    color: black;
}

.col-kiri-Clbk .card-body a{
    color: black;
    text-decoration: none;
}
.col-kiri-Clbk .card-body a:hover{
    color: lightgreen;
}

.col-kanan-clbk{
    border-left: 4px solid black;
}
.col-kanan-clbk .card img{
    width: 115px;
    height: 170px;
}
.col-kanan-clbk .card-body a{
    color: black;
    text-decoration: none;
}
.col-kanan-clbk .card-body a:hover{
    color: lightgreen;
}

/* CSS detailClbk */
.row-gambar-detailClbk img{
    width: 100%;
    height: 400px;
}
.row-gambar-detailClbk p{
    text-align: right;
}

.col-artikel-terkait .card-body a{
    color: black;
    text-decoration: none;
}
.col-artikel-terkait .card-body a:hover{
    color: lightgreen;
}

.row-gambar-detailClbk .card img{
    height: 200px;
}
.row-gambar-detailClbk .col-artikel-terkait{
    border-left: 4px solid black;
}

.row-topik-artikelClbk .tombol{
    border: 1px solid #f52ec0;
    background-color: #f52ec0;
}
.row-topik-artikelClbk .tombol:hover{
    border: 1px solid #f52ec0;
    background-color: #f52ec0;
    color: black;
}

.row-topik-artikelClbk ul{
    display: flex;
    gap: 15px;
}
.row-topik-artikelClbk ul li{
    list-style: none;
}

.isidetailClbk .col h3 span{
    text-transform: none;
    font-size: 20px;
}