.logo{
    width: 100px;
    height: 100px;
}

.modal-footer{
    justify-content: center;
}

.jumbotron {
    background-image: url(/img/jumbotron.png);
    background-color: rgb(217, 255, 0);
    background-size: cover;
    height: 450px;
}

.pencarian{
    text-align: center;
}

center{
    font-size: 15px;
}

#clbk{
    font-size: 15px;
    text-transform: uppercase;
    
}

.btn-login{
    background-color: #eb4335;
    border: 2px solid black;
    color: white;
}

.tombol{
    border: 4px solid  #004aad;
    background-color: #1893f8;
    color: white;
    border-radius: 10px 10px 10px;    
    width: 100px;
    text-transform: uppercase;
    font-weight: bold;
    padding: 5px 10px;
}

.tombol:hover{
    text-decoration: none;
    color: aqua;
}

.masuk, .atau, .daftar{
    margin: 10px;
}

.pencarian .cari{
    text-align: center;
    border-radius: 10px 10px 10px;
    border: 4px solid white;
    width: 500px;
    height: 50px;
}

.keterangan{
    position: relative;
    margin-top: 120px;
    margin-left: -400px;
    font-size: 20px;
}

#ayo-sinau{
    height: 500px;
    position: relative;
}

.section-judul{
    text-align: center;
    font-weight: bold;
    margin-bottom: 90px;
}
/* 
.section-judul h2::after{
    position: absolute;
    content: "";
    width: 200px;
    height: 3px;
    background-color: black;
    bottom: -20px;
    left: 50%;
    transform: translate(-50%);
} */

/* img{
   width: 200px;
   height: 200px;
   margin: auto;
   border: 3px solid black;
} */




.btn-next {
    position: absolute;
    content: "";
    top: 50%;
    transform: translateY(-50%);
    right: -3px;
    z-index: 20;
    background-color: #15477A;
    border: none;
    height: 35px;
    width: 35px;
    color: #fff; 
    border-radius: 50%;
    outline: none;
    box-shadow: 0 0 20px #ddd;
    transition: background-color 0.3s;
}

.fab, .far {
    font-size: 25px;
    color: white;
    text-decoration: none;
    margin-right: 15px;
}

.penawaran{
    color: black;
    font-weight: 500;
    text-transform: uppercase;
}
.penawaran:hover{
    color: yellow;
    font-weight: 500;
    text-transform: uppercase;
    text-decoration: none;
}

.topik{
    color: black;
    font-weight: 500;
    text-transform: uppercase;
}
.topik:hover{
    color: yellow;
    font-weight: 500;
    text-transform: uppercase;
    text-decoration: none;
}


.FUO{
    color: black;
    font-weight: 500;
    text-transform: uppercase;
}

.FUO:hover{
    color: yellow;
    text-decoration: none;
}

.bg-footer{
    background-color: rgb(146, 138, 138);
}

.logo-footer{
    margin-left: -50px;
    height: 200px;
    width: 200px;
}

.page-footer{
    color: white;
}

.mgFooter{
    margin-top: 30px;
}



/* CSS profileTN */

.sectionLogo img{
    display: block;
    margin: -100px auto -200px ;
    width: 450px;
}

.section1 img{
    display: block;
    width: 85%;
    margin: -100px auto 0px ;
}

.section2 img{
    display: block;
    width: 85%;
    margin: -100px auto 0px ;
}