hr {
    color: white; 
    font-weight: bold;
}

span.fw-bold {
    font-weight: 600;
}

.logo {
    width: 100px;
    height: 100px;
}

.modal-footer {
    justify-content: center;
}

.navbar {
    box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.25);
    border-radius: 25px;
}

.jumbotron {
    background-color: #3D405B;
    background-position: center;
    background-image: url("../img/image-hero.png");
    background-size: auto;
    height: 567px; 
}

.pencarian {
    text-align: center;
}

#clbk {
    z-index: 1; 
    display: block;
    margin-top: 10px;
    margin-left: 850px;
    font-size: 15px;
    position: absolute;
}

.line {
    background-color: black;
    height: 2px;
    width: 500px;
    margin-top: -70px;
    margin-bottom: 150px;
}

.btn-login {
    background-color: #eb4335;
    border: 2px solid black;
    color: white;
}

.btn-danger {
    background: #FA7E61;
    border-radius: 25px;
    width: 140px;
    height: 36px;
    /* left: 1059px;
    top: 37px; */
    background: #FA7E61;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
}

h1.text-center{
    color: white;
}
.btn-search{
    border-radius: 0; 
    height: 100%; 
    border-top-right-radius: 5px;
    border-bottom-right-radius: 5px;
    border: none;
}

.tombol {
    border: 4px solid #004aad;
    background-color: #1893f8;
    color: white;
    border-radius: 10px 10px 10px;
    width: 100px;
    text-transform: uppercase;
    font-weight: bold;
    padding: 5px 10px;
}

.tombol:hover {
    text-decoration: none;
    color: aqua;
}

.masuk,
.atau,
.daftar {
    margin: 10px;
}

.pencarian .cari {
    text-align: center;
    border-radius: 10px 10px 10px;
    border: 4px solid white;
    width: 500px;
    height: 50px;
}

.keterangan {
    position: relative;
    margin-top: 120px;
    margin-left: -400px;
    font-size: 20px;
}

#ayo-sinau {
    margin-top: 100px;
    z-index: 1;
    height: 500px;
    position: relative;
}
#ayo-sinau .clbk-tag {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 1em;
}

.section-judul {
    margin-left: -300px;
    text-align: center;
    font-weight: bold;
    margin-bottom: 90px;
}
/* 
.section-judul h2::after{
    position: absolute;
    content: "";
    width: 200px;
    height: 3px;
    background-color: black;
    bottom: -20px;
    left: 50%;
    transform: translate(-50%);
} */

/* img{
   width: 200px;
   height: 200px;
   margin: auto;
   border: 3px solid black;
} */

.owl-carousel .item {
    overflow: hidden;
}
.owl-carousel .item:hover {
    transform: scale(0.9);
    transition-duration: 0.5s;
}

.btn-next {
    position: absolute;
    content: "";
    top: 50%;
    transform: translateY(-50%);
    right: -3px;
    z-index: 20;
    background-color: #15477a;
    border: none;
    height: 35px;
    width: 35px;
    color: #fff;
    border-radius: 50%;
    outline: none;
    box-shadow: 0 0 20px #ddd;
    transition: background-color 0.3s;
}

.fab.google {
    font-size: 15px;
    font-weight: bold;
    color: maroon;
    text-decoration: none;
    margin-right: 10px;
}
.fab,
.far {
    font-size: 50px;
    color: #F3DF05;
    text-decoration: none;
    margin-right: 15px;
}

.FUO {
    color: #F3DF05;
    font-weight: 500;
    text-transform: uppercase;
}

.FUO:hover {
    color: white;
    text-decoration: none;
}



.sub-link {
    text-decoration: none;
    color: #F3DF05;
}

.sub-link:hover {
    text-decoration: none;
    color: white;
}

/* footer  */

.footer-title {

    font-size: 24px;
    font-style: normal;
    font-weight: 600;
    line-height: 36px;
    color: #FA7E61;

    /* identical to box height */
}
.footer-sub {
    font-size: 24px;
    font-style: normal;
    font-weight: 500;
    line-height: 36px;
    letter-spacing: 0em;
    text-align: left;
}

.bg-footer {
    background: #3D405B;

}

.logo-footer {
    margin-left: -10px;
    height: 200px;
    width: 200px;
}

.page-footer {
    color: #F3DF05;
}

footer .list-unstyled li a{
    text-decoration: none;
    color: white;
    transition: .3s ease;
}
footer .list-unstyled li{
    transition: .3s ease-in;
}
footer .list-unstyled li:hover,
footer .list-unstyled li:hover a{
    transform: translateY(-2px);
    color: #ffff00;
}
footer .list-social{
    padding: 0;
}
footer .list-social li{
    list-style: none;
    font-size: 14px;
}
footer .list-social i{
    font-size: 40px;
}
/* CSS profileTN */

.profileTN .sectionLogo img {
    width: auto;
    height: 400px;
}
.profileTN .sectionLogo p {
    margin: 100px 0;
}

.profileTN .section1 img {
    width: auto;
    height: 400px;
}

.profileTN p {
    text-align: justify;
    font-weight: bold;
}
.profileTN h4 {
    font-weight: 700;
    font-size: 30px;
    text-align: center;
}

.profileTN h1 {
    text-align: center;
    margin: 50px 0;
}

#carouselExampleControls .carousel-item img {
    width: auto;
    height: 500px;
}
#carouselExampleControls .carousel-control-prev,
#carouselExampleControls .carousel-control-next {
    background-color: yellowgreen;
    top: 50%;
    height: 50px;
    width: 50px;
}

/* CSS Ayo Makaryo */
.headAyoMakaryo {
    margin-top: 40px;
    background-color: #3e4e60;
    height: 60px;
}
.ham {
    padding-top: 10px;
}

.submit-btn {
    display: inline-block;
    border-radius: 5px 5px 5px 5px;
    border: 2px solid #ffff00;
    background-color: #ffff00;
    width: 40px;
    height: 40px;
}

.submit-btn:hover {
    display: inline-block;
    border: 2px solid #ffff00;
    background-color: #ffff00;
    width: 40px;
    height: 40px;
    color: lightgreen;
}

#loker,
#tersimpan,
#terakhir-dilihat {
    padding-top: 50px;
}

.lowongan-kerja img {
    margin-left: 30%;
    background-position: center;
    height: 100px;
    width: 100px;
}

.lowongan-kerja .row {
    margin-bottom: 30px;
    margin-right: 10px;
}

.Tersimpan img {
    margin-left: 30%;
    background-position: center;
    height: 100px;
    width: 100px;
}
.Tersimpan .col {
    margin-bottom: 10px;
}
.Tersimpan p,
.Tersimpan a {
    font-size: 10px;
}

.terakhir-lihat img {
    margin-left: 30%;
    background-position: center;
    height: 100px;
    width: 100px;
}
.terakhir-lihat .col {
    margin-bottom: 10px;
}
.terakhir-lihat p,
.terakhir-lihat a {
    font-size: 10px;
}

.vl {
    border-radius: 10px;
    border-left: 4px solid black;
    height: 1670px;
    margin-top: 50px;
}

/* CSS detailLowongan */
.img-detilLowongan img {
    width: 250px;
    height: 300px;
    margin-left: 10px;
    margin-top: -100px;
}
.daerah {
    font-weight: lighter;
}

.profilPerusahaan {
    width: 600px;
    height: 40px;
    background-color: #ffdd3e;
    text-align: center;
    padding-top: 2px;
    box-shadow: 3px 4px #947a7ad3;
    margin: 30px 0;
    margin-left: 100px;
}

.detil {
    display: inline-block;
    margin-left: 10px;
}
.detil .namaPerusahaan {
    margin-bottom: 40px;
}

.isiSkill {
    margin-left: 10px;
    display: inline-block;
    text-decoration: none;
    color: black;
    text-align: center;
    padding-top: 8px;
    font-weight: bold;
    background-color: #1893f8;
    border: 2px solid #1893f8;
    border-radius: 10px 10px 10px 10px;
    width: 100px;
    height: 40px;
}

.isiSkill:hover {
    color: white;
    text-decoration: none;
}

/* CSS CLBK */
.pembungkusCLBK {
    margin-top: 30px;
}
.pembungkusCLBK ul {
    margin-top: -50px;
    margin-bottom: 70px;
    margin-left: 100px;
    margin-right: 20px;
}

.pembungkusCLBK ul .topik {
    list-style: none;
    display: inline-block;
}
.pembungkusCLBK ul .topik a {
    text-decoration: none;
    color: black;
    font-weight: bold;
    font-size: 15px;
}
.pembungkusCLBK ul .topik a:hover {
    text-decoration: none;
    color: white;
    font-weight: bold;
    font-size: 15px;
}

.pembungkusCLBK .topik1 {
    text-align: center;
    padding-top: 5px;
    border-top: 5px solid #ffff00;
    border-bottom: 5px solid #ffff00;
    background-color: #d6c6cc;
    width: 120px;
    height: 40px;
}
.pembungkusCLBK .topik2 {
    text-align: center;
    padding-top: 5px;
    border-top: 5px solid #ff8210;
    border-bottom: 5px solid #ff8210;
    background-color: #d6c6cc;
    width: 160px;
    height: 40px;
}
.pembungkusCLBK .topik3 {
    text-align: center;
    padding-top: 5px;
    border-top: 5px solid #12c8dd;
    border-bottom: 5px solid #12c8dd;
    background-color: #d6c6cc;
    width: 170px;
    height: 40px;
}
.pembungkusCLBK .topik4 {
    text-align: center;
    padding-top: 5px;
    border-top: 5px solid #ff0000;
    border-bottom: 5px solid #ff0000;
    background-color: #d6c6cc;
    width: 170px;
    height: 40px;
}
.pembungkusCLBK .topik5 {
    text-align: center;
    padding-top: 5px;
    border-top: 5px solid #f52ec0;
    border-bottom: 5px solid #f52ec0;
    background-color: #d6c6cc;
    width: 160px;
    height: 40px;
}
.rowBawah {
    margin-top: 30px;
    margin-left: 60px;
}

.search-artikel {
    border-radius: 10px 10px 10px 10px;
    height: 40px;
}

.form-artikelClbk {
    margin-left: 90px;
    padding: 3px 50px;
    background-color: #3e4e60;
    height: 50px;
    width: 340px;
}

.paging-clbk {
    margin-top: 50px;
}

.pembungkusCLBK .card {
    margin-bottom: 40px;
    border-radius: 10px;
    background-color: #3D405B;
    color: white;
}

.fa-heart {
    color: black;
}

.col-kiri-Clbk .card-body a {
    color: black;
    text-decoration: none;
}
.col-kiri-Clbk .card-body a:hover {
    color: lightgreen;
}

.col-kanan-clbk {
    border-left: 4px solid black;
}
.col-kanan-clbk .card img {
    width: 115px;
    height: 170px;
}
.col-kanan-clbk .card-body a {
    color: black;
    text-decoration: none;
}
.col-kanan-clbk .card-body a:hover {
    color: lightgreen;
}

/* CSS detailClbk */
.row-gambar-detailClbk img {
    width: 100%;
    height: 400px;
}
.row-gambar-detailClbk p {
    text-align: justify;
}

.col-artikel-terkait .card-body a {
    color: black;
    text-decoration: none;
}
.col-artikel-terkait .card-body a:hover {
    color: lightgreen;
}

.row-gambar-detailClbk .col img {
    width: 30%;
    height: auto;
    float: left;
    margin-right: 15px;
}
.row-gambar-detailClbk .col-artikel-terkait {
    border-left: 4px solid black;
}

.row-topik-artikelClbk .tombol {
    border: 1px solid #f52ec0;
    background-color: #f52ec0;
}
.row-topik-artikelClbk .tombol:hover {
    border: 1px solid #f52ec0;
    background-color: #f52ec0;
    color: black;
}

.row-topik-artikelClbk ul {
    display: flex;
    gap: 15px;
}
.row-topik-artikelClbk ul li {
    list-style: none;
}

.isidetailClbk .col h3 span {
    text-transform: none;
    font-size: 20px;
}